<!doctype html>
<html>
  <header>
	<link type="text/css" rel="stylesheet" href="/css/general.css"/>
  </header>

  <body>
	{{#each source}}
	<script src="/js/{{{this}}}"></script>
	{{/each}}
    <script src="/pages/{{{path}}}.page.js"></script>
  </body>

</html>
